# Override 'core.autocrlf' while still using Git's built-in heuristics to detect text vs binary.
# Normalize all text files to LF line endings on checkout.
* text=auto eol=lf

# Explicitly declare text files that should always be LF
.asf.yaml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
NOTICE text eol=lf
*.html text eol=lf
*.hpp text eol=lf
*.cpp text eol=lf
*.sk text eol=lf
*.md text eol=lf
*.properties text eol=lf
*.sh text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.txt text eol=lf


# Declare files that will always have CRLF line endings on checkout.
# Windows batch scripts strictly require CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# Explicitly denote all files that are truly binary and should not be modified.
*.jpg binary
*.png binary
*.svg binary

# Declare files that should be ignored when creating an archive of the git repository
.asf.yaml export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.github/ export-ignore
